

.App {
  /* text-align: center; */
  text-align: center;
  /* color: rgb(2, 24, 11); */
  color: rgb(233, 47, 14);
}


.App-header {
  /* background-color: #111; */
  background-color: rgb(241, 18, 29);
  height: 60px;
  padding: 20px;
  color: hsl(56, 89%, 45%);
}

.App-title {
  font-size: 1.5em;
}

/* test comment */

/* .App-intro {
  background-color: rgb(250, 214, 10);
  font-size: large;
  color: red;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


