
body {
  background-color: rgb(191, 240, 14);
}

.App {
  text-align: center;
  color: rgb(21, 228, 107);
}


.App-header {
  background-color: rgb(14, 146, 54);
  height: 60px;
  padding: 20px;
  color: hsl(56, 89%, 45%);
}

.App-title {
  font-size: 1.5em;
}

/* test comment */

/* .App-intro {
  background-color: rgb(250, 214, 10);
  font-size: large;
  color: red;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


